@use "vars"as *;

%border-radius {
  border-radius: $border-radius;
}

%border {
  border: $border;
}

%bordered {
  @extend %border;
  @extend %border-radius;
}

%colorized {
  background-color: rgba($light-color, 0.025);
}