$alpha: 0.085;

$main-color: rgb(16, 205, 32);
$main-color-with-alpha: rgba($main-color, $alpha);

$dark-color: rgb(12, 12, 20);

$light-color: rgb(241, 242, 243);
$light-color-with-alpha: rgba($light-color, $alpha);

$danger-color: rgb(200, 20, 20);

$unit-gap: 1rem;
$border-radius: 3px;
$max-width: 450px;
$border: 2px solid $light-color-with-alpha;