* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* Document level adjustments */



html {
    font-size: 17px;
    font-family: sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    
}



@media (max-width: 900px) {
    html { font-size: 15px; }
}

@media (max-width: 400px) {
    html { font-size: 13px; }
}

/* Modules will scale with document */

nav {
    font-size: 1.2rem;
}

header {
    font-size: 1.5rem;
}

main {
    font-size: 1.2rem;
}

footer {
    font-size: 0.75rem;
}

/* Type will scale with modules */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}
/* BODY */
#body {
    background-color: #000 !important;
}

/* NAVBAR */
.navbar-custom {
    background-color: #000 !important;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #F0803C !important;
}

button.navbar-toggler, .navbar-toggler-icon {
    background-color: #fff !important;
}



/* Animates border under link during hover state
.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom 800ms ease-in-out;
}

.nav-link:hover {
    border-bottom: 2px solid black;
}
*/




/* The dropdown container */

/* TYPOGRAPHY */
h1, h2, h3, h4 {
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 900;
}

.nav-link {
    font-family:'Raleway' !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}

header p {
    font-family: 'Roboto Slab';
}

.sub-head {
    font-family: 'Roboto Slab';
}

.options-container p {
    font-family: 'Roboto Slab';
}

.options-block li {
    font-family: 'Roboto';
}

a {
    color: #16BAC5;
}

a:hover {
    color: #DB3069;
}

/* HEADER */

header {
    background-color: #000;
}

header h1, p {
    text-align: center;
    color: white;
    
}

header h1 {
    padding: 3rem 2rem 0rem 2rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 5px 0px #DB3069;
    font-weight: 900;
}

header p {
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 0rem !important;
}

.tagline {
    font-size: 1.2rem;
}

/* MAIN */

main {
    background-color: #000;
}

section h3 {
    text-align: center;
}

.resources__container {
    padding: 1rem 0 1rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.resources__container h4 {
    font-size: 1.5em;
}


.resources {
    padding: 4rem 1rem 6rem 1rem;
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis horizontal */
    justify-content: space-around;
    align-content: center;
}

.resource__box {
    border: 3px solid #16BAC5;
    text-align: center;
    align-content: center;
    padding: 3rem 0 3rem 0;
    width: 20rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px rgba(219,48,105,1);
}

.resource__box a {
    color: #fff;
}

.resource__box a:hover {
    color: white;
    text-decoration: none;
}
/* FOOTER */

/*Sticky Footer*/
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem; /*Footer height*/
    background-color: #DB3069;
}

footer p {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    padding-top: 0.5rem;
}

footer p a, .tagline a {
    background-color: #000;
    color: #fff;
}

footer p a:hover, .tagline a:hover {
    color: #16BAC5;
}
/* NOT HOME PAGE */
/* Create sidebar with options-container*/

.not-home-main {
    background-color: #fff;
}

.header-nothome {
    font-size: 2em;
}
.header-p {
    font-family: 'Roboto Slab';
    font-size: 3rem;
}

.options-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3em;
}

.options-container p{
    color: #000;
    font-size: 1.5em;
}
.options {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}
/*
.options {
    display: grid;
    padding-top: 0rem;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
}
*/
.options-box {
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    padding: 0.5em;
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.3s;
}

.options-box:hover {
    background-color: #16BAC5;
    color: white;

}

.options-box h3 {
    font-size: 2rem;
}

.options-heading {
    padding-bottom: 2rem;
}

.sub-head {
    padding-top: 1rem;
}

.sub-head {
    text-decoration: underline;
}

.options-info {
    padding: 4rem 5rem 4rem 5rem;
    display: block;
}
.options-info p {
    text-align: left;
}

.options-block {
    padding-bottom: 2rem;
}


/* MEDIA QUERIES */

@media (max-width: 1100px) {
    .resources {
        display: flex;
        flex-direction: column; /* make main axis vertical */
        justify-content: center; /* center items vertically */
        align-items: center; /* center items horizontally */
    }

    .resource__box, .options-box {
        margin: 1rem;
        text-align: center;
    }

@media (max-width: 700px) {
    .options-box h3 {
        font-size: 1em;

    }
}
 
}
/* Need to figure out how to simply this code */