// Mixin: Transition
@mixin transition($seconds) {
    transition: $seconds;
    -o-transition: $seconds;
    -moz-transition: $seconds;
    -webkit-transition: $seconds;
}
// Mixin: Box Shadow
@mixin box-shadow($prop) {
    box-shadow: $prop;
    -o-box-shadow: $prop;
    -ms-box-shadow: $prop;
    -moz-box-shadow: $prop;
    -webkit-box-shadow: $prop;
}
// Mixin: Transform
@mixin transform($property) {
    transform: $property;
    -o-transform: $property;
    -moz-transform: $property;
    -webkit-transform: $property;
}

// Import regular font
@font-face {
    font-family: 'Metropolis-Regular';
    src: url('fonts/Metropolis-Regular.eot');
    src: url('fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Metropolis-Regular.woff2') format('woff2'),
         url('fonts/Metropolis-Regular.woff') format('woff'),
         url('fonts/Metropolis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 
 // Import bold font
 @font-face {
    font-family: 'Metropolis-Bold';
    src: url('fonts/Metropolis-Bold.eot');
    src: url('fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Metropolis-Bold.woff2') format('woff2'),
         url('fonts/Metropolis-Bold.woff') format('woff'),
         url('fonts/Metropolis-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

// Every Element
* {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    outline: none !important;
    @include transition(all 0.2s);
    // font-family: 'Quicksand', sans-serif;
    font-family: 'Metropolis-Regular', sans-serif;
}
// Every Link
a {
    text-decoration: none !important;
    &:hover {
        text-decoration: none !important;
    }
}
// Every list
li {
    list-style-type: none;
}
// Unselectable icons and logo
i, #logo {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body, html {
	width: 100%;
	min-height: 100%;
	padding: 0;
}
// Body Custom scrollbar
body {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		@include box-shadow(none);
		background: #fff;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #ccc;
		border-radius: 5px;
   }
}
// Main header with logo and buttons
.header-container {
    width: 100%;
    height: 50px;
    float: left;
    margin: 0px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    .header {
        max-width: 1225px;
        height: 50px;
        margin: 0 auto;
    }
    // Show tags button
    .show-tags {
        width: 30px;
        height: 30px;
        margin: 10px 0px 0px 10px;
        cursor: pointer;
        float: left;
        color: #000;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        position: relative;
        // z-index: 1;
        i {background: none;}
    }
    .tag-arrow {
        @include transform(rotate(45deg));
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        background: #EDF0F1;
        border: 1px solid #ccc;
        margin-top: 45px;
        margin-left: -25px;
    }
    // Logo
    #logo {
        width: 110px;
        height: 35px;
        margin: 7.5px auto;
        position: absolute;
        top: 0px;
        left: calc(50% - 55px);
        // Content inside logo
        .logo-content {
            height: 35px;
            float: left;
            line-height: 35px;
        }
        // Logo image
        .img {
            width: 34.5px;
            height: 35px;
            padding: 7.5px;
        }
        // Divider between logo and name
        .logo-divider {
            width: 1px;
            height: 15px;
            margin-top: 10px;
            background: #bbb;
        }
        // App name
        .app-name {
            width: 74.5px;
            line-height: 35px;
            padding: 0px 7.5px;
            color: #000;
            margin-top: 0px;
        }
    }
    // Header Buttons: Refresh and Bookmarks
    .header-buttons {
        width: 30px;
        height: 30px;
        margin: 10px;
        cursor: pointer;
        color: #000;
        font-size: 20px;
        border-radius: 50%;
        text-align: center;
        float: right;
        line-height: 30px;
        i {background: none;}
    }
}
.tags {
    width: 100%;
    min-height: 30px;
    display: flex;
    background:#EDF0F1;
    flex-wrap: wrap;
    line-height: 30px;
    justify-content: center;
    position: relative;
    transform-origin: top;
    overflow: hidden;
    z-index: 1;
    align-items: center;
    border-bottom: 1px solid #ccc;
    .tag {
        min-height: 30px;
        cursor: pointer;
        margin: 3px 7.5px;
        display: inline-block;
        padding: 0px 10px;
        font-size: 12px;
        &:first-of-type {
            // font-weight: bolder;
            font-family: 'Metropolis-Bold', sans-serif;
        }
    }
}
// Collapsed tags
.collapse-tags .tags {
    @include transform(scaleY(0));
}
// Arrows when tags are collpased
.collapse-tags .tag-arrow {
    width: 0px;
    height: 0px;
    border: none;
}
// List of bookmarks
.bookmarks-list {
    width: 300px;
    min-height: 75px;
    max-height: 400px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: -20px 5px;
    float: right;
    position: absolute;
    z-index: 3;
    clear: both;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.1);
    overflow: auto;
    transform-style: preserve-3d;
    transform: perspective(300px) rotateX(7deg);
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    transition: visibility 0s, opacity 0.1s ease-in, 0.3s, transform 0.3s ease-in-out;
    > * {
        background: none;
    }
    // Custom scrollbar
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        @include box-shadow(none);
        background: #fff;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
    }
    // Each article
    .bookmarked-article {
        width: 90%;
        min-height: 120px;
        margin: 0px auto;
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 15px 5px 5px 0px;
        &:last-of-type {
            border-bottom: none;
        }
        // Title & Source
        .bookmarked-article-info {
            min-height: 70px;
            .bookmarked-article-title {
                display: block;
                color: #000 !important;
                margin: 0px 0px 5px 0px;
                // font-weight: bold;
                font-family: 'Metropolis-Bold', sans-serif;
            }
            .bookmarked-article-source {
                display: inline-block;
                color: #000;
                margin: 5px 0px;
                font-size: 13px;
            }
        }
        // Share & Bookmark Buttons
        .buttons {
            width: 100%;
            text-align: right;
            height: 30px;
            .bookmarked-article-buttons {
                display: inline-block;
                margin: 0px 7.5px;
                line-height: 30px;
                text-align: right;
                font-size: 22px;
                cursor: pointer;
            }
        }
    }
}
// Display Bookmarks List
.open-bookmarks-list {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}
// Main Body containing news
.main-body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 125px;
    grid-gap: 15px;
    padding: 0px 25px 25px 25px;
    max-width: 1256px;
    margin: 0px auto;
}
.info-key-wrapper {
    width: 100%;
    margin: 5px auto 10px auto;
}
// Daily Info: Date and Weather
.daily-info {
    width: 100%;
    height: 80px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0px auto 15px auto;
    overflow: hidden;
    color: #000;
    padding: 10px;
    .weather {
        width: 90%;
        height: 0px;
        padding: 0px 5px;
        line-height: 60px;
        font-size: 25px;
        margin: 0px auto;
        border-bottom: none;
    }
    .date {
        width: 90%;
        height: 60px;
        text-align: left;
        margin: 0% auto;
        padding: 10px 5px;
    }
}
// Attribution text to API provider
.attribution {
    width: 100%;
    height: 45px;
    color: #000;
    // font-weight: bold;
    font-family: 'Metropolis-Bold', sans-serif;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0px auto 15px auto;
    padding: 10px;
}
// Keys
.keys {
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    transform-origin: top;
    margin: 5px auto 0px auto;
    overflow: hidden;
    z-index: 1;
    align-items: center;
    .key {
        min-height: 30px;
        max-width: 110px;
        line-height: 30px;
        flex: 1;
        text-align: center;
        cursor: pointer;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        border-radius: 15px;
        margin: 3px;
        padding: 0px 10px;
        font-size: 12px;
        color: #fff;
    }
    [data-key="Apple"] {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) 50%), url("../media/apple.jpg");
    }
    [data-key="Google"] {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) 50%), url("../media/google.jpg");
    }
    [data-key="Stock"] {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) 50%), url("../media/stock.jpg");
    }
    [data-key="Cryptocurrency"] {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) 50%), url("../media/cryptocurrency.jpg");
    }
    [data-key="Music"] {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) 50%), url("../media/music.jpg");
    }
}
// Main articles
.main-articles {
    width: 100%;
    // Featured Article
    .featured {
        width: 100%;
        min-width: 325px;
        min-height: 275px;
        background: #000;
        border-radius: 5px;
        overflow: hidden;
        color: #fff;
        margin: 5px auto 10px auto;
        padding: 20px 20px 10px 20px;
        display: flex;
        align-items: flex-end;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        // Featured article info: Label, Title, Source and Buttons
        .featured-info {
            width: 100%;
            background: none;
        }
        // "Featured" Label
        .featured-label {
            border-radius: 2px;
            padding: 3px 7.5px;
            background: #fff;
            color: #000;
            font-size: 11px;
        }
        .featured-title {
            display: block;
            cursor: pointer;
            font-size: 20px;
            color: #fff;
            margin: 3px 0px;
        }
        // Source
        .featured-source {
            display: inline-block;
            color: yellow;
            background: none;
        }
        // Buttons: Share & Bookmark
        .featured-buttons {
            float: right;
            margin: 0px 10px;
            line-height: normal;
            font-size: 22px;
            background: none;
            cursor: pointer;
        }
    }
    // Articles
    .articles {
        width: 100%;
        min-height: 125px;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 10px auto;
        color: #000;
        // Each article
        .article {
            width: 90%;
            min-height: 130px;
            margin: 0px auto;
            border-bottom: 1px solid #ccc;
            padding: 15px 5px 5px 0px;
            &:last-of-type {
                border-bottom: none;
            }
            .image {
                width: 120px;
                height: 100px;
                border-radius: 3px;
                float: left;
                margin: 0px 10px 10px 0px;
                background: #ccc;
                background-position: center !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
            }
            .article-info {
                min-height: 70px;
                .article-title {
                    display: block;
                    color: #000 !important;
                    margin: 0px 0px 5px 0px;
                    // font-weight: bold;
                    font-family: 'Metropolis-Bold', sans-serif;
                }
                .article-source {
                    display: inline-block;
                    color: #000;
                    margin: 5px 0px;
                    font-size: 13px;
                }
            }
            .buttons {
                width: 100%;
                text-align: right;
                height: 30px;
                .timePublished {
                    font-size: 11px;
                    float: left;
                    line-height: 30px;
                }
                .article-buttons {
                    display: inline-block;
                    margin: 0px 7.5px;
                    line-height: 30px;
                    text-align: right;
                    font-size: 22px;
                    cursor: pointer;
                }
            }
        }
    }
}
// Imageless Articles
.imageless-articles {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin: 10px auto;
    // Each article
    .imageless-article {
        width: 90%;
        min-height: 120px;
        margin: 0px auto;
        border-bottom: 1px solid #ccc;
        padding: 15px 5px 10px 0px;
        &:last-of-type {
            border-bottom: none;
        }
        // Title & Source
        .imageless-article-info {
            min-height: 70px;
            .imageless-article-title {
                display: block;
                color: #000 !important;
                margin: 0px 0px 5px 0px;
                // font-weight: bold;
                font-family: 'Metropolis-Bold', sans-serif;
            }
            .imageless-article-source {
                display: inline-block;
                color: #000;
                margin: 5px 0px;
                font-size: 13px;
            }
        }
        // Share & Bookmark Buttons
        .buttons {
            width: 100%;
            text-align: right;
            height: 30px;
            // Time article is published
            .timePublished {
                font-size: 11px;
                float: left;
                line-height: 30px;
            }
            .imageless-article-buttons {
                display: inline-block;
                margin: 0px 7.5px;
                line-height: 30px;
                text-align: right;
                font-size: 22px;
                cursor: pointer;
            }
        }
    }
}
@media only screen and (max-width: 876px) {
    .main-body {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(135px,auto) auto auto;
        grid-gap: 7.5px;
        padding: 0px 10px 15px 10px;
    }
    .info-key-wrapper {
        width: 100%;
        margin: 5px auto 0px auto;
    }
    // Daily Info: Date and Weather
    .daily-info {
        height: 80px !important;
        margin-bottom: 5px;
        .weather {
            width: 50%;
            height: 100% !important;
            float: right;
            text-align: right;
            border-bottom: none !important;
        }
        .date {
            width: 50%;
            float: left;
        }
    }
    // Main articles
    .main-articles {
        margin: 0px;
        .articles {
            margin: 0px;
        }
    }
    // Imageless Articles
    .imageless-articles {
        margin: 0px;
    }
}
